*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/*/build/
/captures
.externalNativeBuild
*.jks

*.apk
*.ap_
*.dex
*.class
bin/
gen/
.idea/
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
